
    <div class="col-7 content">
        
        <mat-card>
            <mat-card-content>
                <mat-tab-group>
                    <mat-tab label="Converitore documenti" routerLink="convertitoredoc" routerLinkActive="active"> Convertitore doc </mat-tab>
                    <mat-tab label="Convertitore video" routerlink="convertitorevideo" routerLinkActive="active"> Convertitore video </mat-tab>
                  </mat-tab-group>
            </mat-card-content>
          </mat-card>
        
    </div>
