


<div class="container">
    <div class="row">
        <div class="col-3">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-9">
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="#">util-application-fe</a>
                <form class="form-inline my-2 my-lg-0">
                    <label></label>
                    <button class="btn btn-outline-success my-2 my-sm-0" routerLink="login" routerLinkActive="active">{{this.userService.username}}</button>
                  </form>
              </nav>
        </div>
    </div>
    
            
    
</div>


<router-outlet></router-outlet>
